.wrapper {
	margin: 0 auto;
	width: 100%
}

body {
	background-image: url("green-northern-lights_159067-366.jpg");
	background-size: cover;
	text-align: center;
	width: 100%;
	height: 100vh;
}

h1 {
	text-align: center;
	background-color: rgb(182, 181, 181);
}

.back {
	border-radius: 30px;
	width: 100px;
	height: 50px;
	position: relative;
	display: block;
	margin: auto;
	left: 140px;
}

.backApplication {
	border-radius: 40px;
	width: 100px;
	height: 50px;
	position: relative;
	display: block;
	margin: auto;
	left: 150px;
	top: 25px;
}

.form-label-group2 {
	padding-left: 190px;
}

table {
	border-collapse: collapse;
	background-color: rgba(255, 255, 255, 0.438);
	border-color: #ffffff;
	font-size: 18px;
	margin: auto;
	margin-top: 100px;
}

table tr {
	border-color: #ffffff;
}

table td {
	padding: 5px 15px;
	border: solid 1px #ffffff;
	width: 100px; /* 幅指定 */
	height: 50px; /* 高さ指定 */
	text-align: right;
}


html {
  height:100%;
}

body {
  margin:0;
}

.bg {

   animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(#e66465, #9198e5);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

 @keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}