<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>個人情報登録・編集</title>
<link rel="stylesheet" href="css/private.css">
</head>
<body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
</div>
	<div class="header">
		<h1>個人情報登録・編集</h1>
		<form th:action="@{/private}" th:object="${privateForm}" method="POST">
		 	<div class="Id">
				<div class="error" th:errors="*{id}"></div>
				ID<br /> <input type="text" th:field="*{id}" class="inputId">
			</div>
			<br />
			<div class="Name">
				<div class="error" th:errors="*{name}"></div>
				名前<br /> <input type="text" th:field="*{name}" class="inputName">
			</div>
			<br />
			<div class="Birthday">
				<div class="error" th:errors="*{birthday}"></div>
				誕生日<br /> <input type="date" th:field="*{birthday}"
					class="inputBirthday"> <br />
				<br />
				<div class="Sex">性別</div>
				<div class="error" th:errors="*{sex}"></div>
				<select name="sex">
					<option></option>
					<option value="男">男</option>
					<option value="女">女</option>
				</select>
			</div>
			<div class="Birthplace">
				<div class="error" th:errors="*{birthplace}"></div>
				出身地<br /> <input type="text" th:field="*{birthplace}"
					class="inputBirthplace">
			</div>
			<div class="regist">
				<input type="submit" value="登録" class="regist">
			</div>
		</form>
		<form th:action="@{/privatelist}"  >
		<div class="back">
			<input type="submit" value="戻る" class="edit">
		</div>
		</form>
	</div>
</body>
</html>