<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>個人情報</title>
<link rel="stylesheet" href="css/private.css">
</head>
<body>
	<div class="header">
		<h1>個人情報</h1>
		<form th:action="@{/private}" th:object="${privateForm}" method="POST">
			<div class="Id">
				<div class="error" th:errors="*{id}"></div>
				ID<br /> <input type="text" th:field="*{id}" class="inputId">
			</div>
			<br />
			<div class="Name">
				<div class="error" th:errors="*{name}"></div>
				名前<br /> <input type="text" th:field="*{name}" class="inputName">
			</div>
			<br />
			<div class="Birthday">
				<div class="error" th:errors="*{birthday}"></div>
				誕生日<br /> <input type="date" th:field="*{birthday}"
					class="inputBirthday"> <br /><br />
				<div class="Sex">性別</div>
				<div class="error" th:errors="*{sex}"></div>
				<select name="sex">
				    <option></option>
					<option value="男">男</option>
					<option value="女">女</option>
				</select>
			</div>
			<div class="Birthplace">
				<div class="error" th:errors="*{birthplace}"></div>
				出身地<br /> <input type="text" th:field="*{birthplace}"
					class="inputBirthplace">
			</div>
			<div class="regist">
				<input type="submit" value="登録" class="regist">
			</div>
		</form>
<!-- 		<div class="back">
			<a th:href="@{/privateEdit}"> <input type="submit" value="編集画面へ"
				class="back"></a>
		</div> -->
		<div class="delete">
		<form th:action="@{/user/private/delete}" th:object="${privateForm}"
			th:method="post">削除したいID
			<input type="text" th:field="*{id}" name="id">
				<input type="submit" value="削除する" class="del">
		</form>
		</div>
	</div>
</body>
</html>